.popUp {
    border: 5px solid red;
    height: fit-content;
    /* width: fit-content; */
    /* height: 50px; */
    width: 200px;
    padding: 20px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 300px;
    right: 300px;
    background-color: wheat;
    z-index: 10;
}