.popUp {
    border: 5px solid #7C162E;
    /* border: 5px solid #190933; */
    height: fit-content;
    /* width: fit-content; */
    /* height: 50px; */
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #766B65;
    background-color: #7D98A1;
    background-color: #9DB5B2;
    background-color: #12130F;
    z-index: 20;
    /*  offset x, y, blur, spread */
    box-shadow: -2px 3px 10px 10px rgba(255, 0, 0, 0.171);
    /* box-shadow: -2px 3px 10px 10px #190933; */
    box-shadow: -2px 3px 20px 10px whitesmoke;
    box-shadow: -2px 3px 30px 15px rgba(255, 0, 0, 0.171);
}

.popUp .delete, .popUp .confirm {
    color: #720714;
    color: red;
    /* border: 1px solid yellow; */
}

.popUp .content {
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px auto;
    border: 1px solid #66412d;
    border: 2px solid rgba(240, 248, 255, 0.151);
    background-color: #12130e;
    padding: 20px;
    max-width: 450px;
    color: whitesmoke;
}

.popUp .confirm {
    /* margin-bottom: -10px; */
    margin-bottom: -10px;
}
.popUp .buttons {
    /* border: 1px solid lime; */
    margin: auto;
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.popUp button {
    cursor: pointer;
    width: 100px;
    background-color: #66412d;
    background-color: black;
    border: 2px solid rgba(245, 245, 245, 0.781);
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.popUp button:hover {
    background-color: rgba(0, 0, 0, 0.507);
}