.search {
    /* border: 1px solid purple; */
    /* background-color: aquamarine; */
    /* background-color: #AF1B3F; */
    /* background-color: #DF9B6D ; */
    /* background-color: #31081F; */
    background-color: #1E2824;

    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.search * {
    /* border: 1px solid yellow; */
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    height: fit-content;
    width: fit-content;
    /* margin: 0 10px; */
}

.search p {
}
.search div {
    width: 100%;
}

.search h3{
    margin: auto;
}

.search textarea {
    width: 650px;
    max-width: 650px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-stretch: expanded;
    margin: auto;
    max-height: 30px;
    min-height: 40px;
    background-color: rgba(240, 248, 255, 0.37);
}

.search textarea::placeholder{
    text-align: center;
}

.icon {
    font-size: 30px;
}