.loading {
    /* border: 1px solid yellow; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: c;
}
.loading h1 {
    font-family: 'VT323', monospace;
    /* font-weight: lighter; */
    font-size: 60px;
}

.loading img {
    /* border: 1px solid pink; */
    filter: invert(.8);
    height: 60px;
    margin-top: 50px;
}