.operations {
    /* border: 5px solid yellow; */
    color: rgba(245, 245, 245, 0.911);
}

.operations header p.search {
    visibility: hidden;
}

.operations .tabs {
    border: 1px solid hotpink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.operations .tabs > * {
    border: 1px solid lightblue;
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.operations .tabs > *:hover {
    background-color: gainsboro;
}