.operations {
    /* border: 5px solid yellow; */
    color: rgba(245, 245, 245, 0.911);
    color: rgba(245, 245, 245, 0.658);

}

.operations header p.search {
    visibility: hidden;
}

.operations .tabs {
    /* border: 1px solid hotpink; */
    /* border-top: 3px solid rgba(240, 248, 255, 0.644); */

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 70px;
    background-color: #1E2824;
    z-index: 100;
}
.operations .tabs > * {
    border: 1px solid lightblue;
    border: 1px solid rgba(240, 248, 255, 0.37);
    background-color: #0c110f;

    border-radius: 10px;
    /* width: 100px; */
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    font-weight: bold;
    width: 200px;
}
.operations .tabs > *:hover {
    /* background-color: gainsboro; */
    cursor: pointer;
    background-color: #26332e;
}

.operations .explanation {
    /* border: 1px solid red; */
    /* margin: 400px auto; */
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: -20px auto;
    z-index: 0;
}